.hitmiss {
    position: relative;

    #hitmissGaugeContainer {
        display: block;
        text-align: center;
        margin-bottom: 2em;
    }

    .range {
        position: absolute;
        top: -55px;
        right: 0;
        label {
            position: absolute;
            top: -20px;
            font-weight: 200;
        }
    }

    #hitMissGraph {
        height: 300px;
    }
}