<article class="about">
    <header class="page-header">
        <h1>About</h1>
    </header>

    <dl>
        <dt>What is this??</dt>
        <dd>VarnishMon shows varnish data (hits and misses) in a nice graph.</dd>

        <dt>What did you use to create this?</dt>
        <dd>
            <ul>
                <li>Varnish</li>
                <li>StatsD</li>
                <li>Graphite</li>
                <li>Yeoman</li>
                <li>Angularjs</li>
                <li>Bower</li>
                <li>Grunt</li>
                <li>Bootstrap</li>
                <li>Node-sass</li>
                <li>Node.js</li>
                <li>Express.js</li>
            </ul>

        </dd>
    </dl>
</article>
