<form class="ban" ng-submit="ban()" ng-controller="Ban">
    <div class="alert alert-warning" ng-if="errorMsg">
        {{ errorMsg }}
    </div>
    <div class="alert alert-success" ng-if="successMsg">
        {{ successMsg }}
    </div>

    <div class="form-group">
        <input type="text" class="form-control" name="ban" placeholder="^foo$" ng-model="ban.value">
        <button type="submit" class="btn btn-default">Ban</button>
    </div>

    <p ng-if="banHistory">Recent bans</p>
    <ul>
        <li ng-repeat="ban in banHistory track by $index">
            {{ ban }}
        </li>
    </ul>

    <p>BAN ALL THE THINGS!</p>
    <pre><code>req.http.url ~ /</code></pre>

    <p>Ban specific host</p>
    <pre><code>req.http.host == "fearnley.no"</code></pre>
</form>